<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">


	<http auto-config="false" use-expressions="true"
		entry-point-ref="LoginUrlAuthenticationEntryPoint"
		authentication-manager-ref="authenticationManager">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/resource/images/**" access="permitAll" />
		<intercept-url pattern="/resource/js/**" access="permitAll" />
		<intercept-url pattern="/resource/css/**" access="permitAll" />
		<intercept-url pattern="/user*"
			access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/admin*" access="hasAnyRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user/**"
			access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/admin/**" access="hasAnyRole('ROLE_ADMIN')" />
		<logout logout-success-url="/login?logout" invalidate-session="true" />
		<custom-filter position="FORM_LOGIN_FILTER" ref="formLoginFilter" />
	</http>

	<beans:bean id="LoginUrlAuthenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login" />
	</beans:bean>

	<beans:bean id="formLoginFilter" class="org.mbrdi.helpinghand.filters.LoginFilter">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="authenticationSuccessHandler">
			<beans:bean
				class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler ">
				<beans:property name="alwaysUseDefaultTargetUrl"
					value="true" />
				<beans:property name="defaultTargetUrl" value="/home" />
			</beans:bean>
		</beans:property>
		<beans:property name="authenticationFailureHandler">
			<!-- <beans:bean class=" org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"/> -->
			<beans:bean id="authenticationFailureHandler"
				class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
				<beans:property name="exceptionMappings">
					<beans:props>
						<beans:prop
							key="org.springframework.security.authentication.BadCredentialsException">/login?error</beans:prop>
						<beans:prop
							key="org.springframework.security.authentication.CredentialsExpiredException">/login?credentialsExpired</beans:prop>
						<beans:prop
							key="org.springframework.security.authentication.LockedException">/login?accountLocked</beans:prop>
						<beans:prop
							key="org.springframework.security.authentication.DisabledException">/login?accountDisabled</beans:prop>
					</beans:props>
				</beans:property>
			</beans:bean>
		</beans:property>
	
	</beans:bean>

	<beans:bean id="dataSource" name="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<!-- <beans:property name="url"
			value="jdbc:mysql://db4free.net:3306/schoolmanagement" />
		<beans:property name="username" value="schoolmanager" />
		<beans:property name="password" value="schoolmanager" /> -->
		
		<!-- <beans:property name="url"
			value="jdbc:mysql://localhost:3306/helping_hand" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="root" /> --> 
	</beans:bean>
	<authentication-manager id="authenticationManager">
		<authentication-provider>
			<!-- <user-service> <user name="admin" password="admin" authorities="ROLE_ADMIN" 
				/> <user name="user" password="user" authorities="ROLE_USER" /> </user-service> -->
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select user_id,password, enabled from sms_user_authentication_details where user_id=?"
				authorities-by-username-query="select user_id, role from sms_user_roles where user_id=?  " />
		</authentication-provider>
	</authentication-manager>

</beans:beans>